<div class="container-fluid">
    <main>
      <div class="row">
        <div class="col-md-12">
            <div class="text-center" *ngIf="isNewContact">
                <h1>Create a New Contact</h1>
                <p>Enter details to create a new contact.</p>
            </div>
            <div class="text-center" *ngIf="!isNewContact">
              <h1>Update Contact</h1>
          </div>
        </div>
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add contact</h5>
              <app-contact-form (newContact)="handleAddorUpdateContact($event)" [contact] = "contact"></app-contact-form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  